* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(assets/images/background2.png);
    background-size: cover;
}

#banner {
    max-width: 100%;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

a.download,
a.discord {
    padding: 10px 20px;
    background-color: #6C82CC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

a.download:hover,
a.discord:hover {
    background-color: #5F71AD;
}

#trailer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/images/grey.jpg) center/cover no-repeat;
}

video {
    width: 75%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
